# Database Configuration
DATABASE_URL = postgresql+asyncpg://username:password@localhost:5432/database_name

# Security Configuration
SECRET_KEY = your_64_character_hex_secret_key
JWT_ENCODE_ALGO = HS256

# Toke Expiry Settings ( in Minutes )
ACCESS_TOKEN_EXPIRY_MINUTES = 15
REFRESH_TOKEN_EXPIRY_MINUTES = 43200